.section-image_left {
  padding: 80px 0;
  display: flex;
  position: relative;

  .image {
    width: 600px;
    height: 480px;
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .section-content {
    background-color: rgba($color: white, $alpha: 0.75);
    margin-left: 460px;
    height: 360px;
    width: 616px;
    position: absolute;
    bottom: 80px;
    z-index: 9;

    .inner-container {
      padding: 40px 0 0 50px;

      .section-text {
        .section-heading {
          margin: 0;
          margin-bottom: 24px;
        }
        p {
          width: 460px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .section-image_left {
    padding: 40px 0;
    position: relative;
    .image {
      width: 100%;
    }

    .section-content {
      height: 398px;
      width: 100%;
      bottom: 80px;
      right: 0;

      .inner-container {
        padding: 0;
        padding-top: 20px;
        padding-left: 20px;

        .section-text {
          margin-bottom: 24px;
          .section-heading {
            width: 80%;
            margin-bottom: 24px;
          }
          p {
            width: 80%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .section-image_left {
    padding: 40px 0;
    .section-content {
      width: 500px;
      height: 400px;
      right: 0;
      bottom: 80px;

      .inner-container {
        padding: 50px 0 0 50px;
        .section-text {
          margin-bottom: 48px;

          p {
            width: 80%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .section-image_left {
    .section-content {
      height: 360px;
      width: 600px;
    }
  }
}

@media only screen and (min-width: 1124px) {
  .section-image_left {
    .section-content {
      width: 800px;
    }
  }
}
