.service-view {
  .section-image_right {
    h2 {
      font-size: 28px;
    }

    ul {
      font-size: 18px;
      color: #878b95;
      li {
        margin-bottom: 16px;
        list-style-type: circle;
      }
    }
  }
}
