.service-descriptions {
  .services-tabs {
    height: 145px;

    .MuiTabs-flexContainer {
      justify-content: space-between;
    }

    .MuiTabs-indicator {
      display: none;
    }

    .service-tab {
      svg {
        height: 100px;
        width: 100px;
      }
    }
  }

  .services-tabpanel {
    padding: 80px 0;
  }
}
