.header-top {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;

  .header-top_left {
    display: flex;
    align-items: center;
  }

  .header-top_right {
    align-items: center;

    .flag-icon {
      height: 13px;
      width: 13px;
      margin-bottom: 2px;
    }

    .item {
      margin: 0;
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-top {
    display: none;
  }
}
