$primaryColor: #252d40;
$secondaryColor: #a8abb3;

* {
  box-sizing: border-box;
}

html {
  margin: 0;

  body {
    position: relative;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $primaryColor;
  }
}

.layout {
  position: relative;
}
