.service-cards {
  .card {
    padding-top: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    box-shadow: none;

    &:hover {
      border-color: #39c4ca;
    }

    span {
      width: 70px;
      height: 70px;
      .service-icon {
        margin-bottom: 16px;
      }
    }

    p {
      margin: 0 auto;
      width: 200px;
      font-size: 14px;
      color: #a8abb3;
    }
  }
}
