.footer-top {
  .footer-item {
    &.footer-item__one {
      font-size: 0.75em;

      .navigation-link {
        margin-right: 24px;

        &:hover {
          color: #a8abb3;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer-top {
    padding: 8px 0;
    display: flex;
    justify-content: center;

    .footer-item {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer-top {
    padding: 8px 0;

    .footer-item {
      &.footer-item__two {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
