.page-banner {
  background-repeat: no-repeat;
  background-size: contain;
  height: 313px;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    text-align: center;
    color: #252d40;

    .title {
      margin: 0;
      margin-bottom: 16px;
    }

    .breadcrumb-container {
      display: flex;
      justify-content: center;

      a,
      span {
        font-size: 14px;
      }

      a,
      .MuiBreadcrumbs-separator {
        color: #565c6b;
      }

      span {
        color: #39c4ca;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-banner {
    .content {
      background-color: rgba($color: #ffffff, $alpha: 0.75);
      padding: 32px;
      .title {
        margin-bottom: 8px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .page-banner {
    .content {
      background-color: rgba($color: #ffffff, $alpha: 0.75);
      padding: 32px;
      .title {
        margin-bottom: 8px;
      }
    }
  }
}
