.input-field {
  input {
    height: 36px;
    border: 1px solid #c8cacf;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-left: 8px;

    &::placeholder {
      color: #a8abb3;
    }
  }
}
